/* for the heading and navigation */
.bar{display: flex;
  border:2px solid rgb(171, 120, 45);
  background-color: rgb(244, 148, 22);
  height:70px;
}

/* main chess board */
.container {
    display: flex;
    justify-content: center;
    margin-top: 70px;}

.chessboard {
    border:2px solid black;
    display: grid;
    grid-template-columns:repeat(8,70px);
    grid-template-rows:repeat(8,70px);
   
    gap:0vw;
  }
  
  
  .square {border:2px solid black;
    width:70px; height:70px;
    font-size: 50px;
  text-align: center;}
  .square:nth-child(odd){background-color: #f0d9b5;}
  .square:nth-child(odd){background-color: #b58863;}

  /* .white {
    background-color: #f0d9b5;}
  .black {
    background-color: #b58863;} */
  
  .way{
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 50%;
  }
  
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }