/* for the heading and navigation */
.bar{display: flex;
  border:2px solid rgb(171, 120, 45);
  background-color: rgb(244, 148, 22);
  height:70px;
}

/* main chess board */
.chessboard{
  margin:3rem 20rem;
  cursor: pointer;
}
.container {
  display: grid;
  display: flex;
  border-radius: 5px;
  grid-template-columns: repeat(8, 1fr);
  flex-direction: column;
  height: 560px;
  /* 70px * 8 = 560px */
  width: 560px;
  overflow: hidden;
}


  /* background-color: red; */
.square-common {
  width: 70px;
  height:70px;
  font-size:4rem;
}

.color-dark{
  background-color: #769656;
  background-color: #c0af81;
}

.color-light{
  background-color: #EEEED2;
  background-color: #252525;
}

.rank-style{
  width: 560px;
  height: 70px;
  display: flex;}

/*addition classes for pawns and chareacter  */
.dot{
  border-radius: 50%;
  background-color:#d2efb236;
  width: 30%; height: 30%;
  margin: 1.2vw 2.3vw;
  display: inline-block;
 }
